/**
 * Created by huafu on 10/17/16.
 */

body {
    margin-bottom: 51px;
}

.spacer {
    height: 15px;
}

.graph {
    height: 22vh;
    min-height: 100px;
}

.text-bold {
    font-weight: bold;
}

.panel-body, .pannel-heading {
    padding: 10px;
}

.progress {
    margin-bottom: 10px;
}

#summary .progress {
    margin-bottom: 0;
}

#summary table > * > tr > *:first-child {
    white-space: nowrap;
}
.table {
    margin-bottom: 10px;
}
