/**
 * Created by huafu on 10/17/16.
 */

body {
    margin-bottom: 51px;
}

.spacer {
    height: 15px;
}

.graph {
    height: 12.45vw;
}

.text-bold {
    font-weight: bold;
}

#summary .panel-body {
    font-size: .84em;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

dl {
    margin-bottom: 0;
}
